:root {
    --dark-dark-green: #1e3932;
    --dark-green: #006341;
    --light-green: #308248;
    --success: #d4edda;
    --dirty-white: #f0f0f0;
    --indigo: #dddeed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

body{
    overflow: auto;
    position: static;
}

body.hold{
    overflow: hidden;
    position: fixed;
}